fasteners==0.20
iniconfig==2.3.0
Jinja2==3.1.6
MarkupSafe==3.0.3
multitasking==0.0.13
numpy==2.4.6
packaging==26.3
paradag==1.2.0
pgserver==0.1.4
platformdirs==4.12.1
pluggy==1.6.0
psutil==7.2.2
psycopg==3.3.6
psycopg-binary==3.3.6
Pygments==2.21.0
pytest==9.1.1
sql_metadata==2.19.0
sqlglot==30.20.0
sqlparse==0.5.5
typing_extensions==4.16.0
